.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
obj/
run
data/t10k-images.idx3-ubyte
data/t10k-labels.idx1-ubyte
data/train-images.idx3-ubyte
data/train-labels.idx1-ubyte
weights/weight1
weights/weight2
weights/weight3
weights/weight4
